<table>
    <tr>
        <th>Title</th>
        <td>{{ book.title }}</td>
    </tr>
    <tr>
        <th>Publication Date</th>
        <td>{{ book.publicationDate ? book.publicationDate|date('Y-m-d H:i:s') : '' }}</td>
    </tr>
    <tr>
        <th>Published</th>
        <td>{{ book.isPublished() ? 'Yes' : 'No' }}</td>
    </tr>
    <tr>
        <th>Category</th>
        <td>{{ book.category }}</td>
    </tr>
    <tr>
        <th>Author</th>
        <td>{{ book.author ? book.author.username : '' }}</td>
    </tr>
    <tr>
        <th>Ref</th>
        <td>{{ book.ref }}</td>
    </tr>
</table>
